<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taller de Llaveros - Agregar</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    
    <div class="container">

        <h2>Agregar Nuevo Pedido</h2>
        <form action="/add" method="POST">
        <label for="idPedido">ID Pedido</label>
        <input type="text" id="idPedido" name="idPedido" required>

        <label for="codigo">Código:</label>
        <input type="text" id="codigo" name="codigo" required>
        
        <label for="modelo">Modelo:</label>
        <input type="text" id="modelo" name="modelo" required>
        
        <label for="precioT">Precio Total:</label>
        <input type="number" step="0.01" id="precioT" name="precioT" required>
        
        <label for="completo">¿Completado?</label>
        <select id="completo" name="completo" required>
            <option value="0">No</option>
            <option value="1">Sí</option>
        </select>
        
        <label for="cliente">Cliente:</label>
        <input type="text" id="cliente" name="cliente" required>
        
        <label for="fechaEntrega">Fecha Entrega:</label>
        <input type="date" id="fechaEntrega" name="fechaEntrega">
        
        <button type="submit">Agregar Pedido</button>
    </form>
    
</body>
</html>
